<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">What does protack do?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2009</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Before Cloud was a term, email and file services were still deployed on servers managed on site.  We wanted to lower the capital required for businesses to run these basic services.  Before Office365 caught up to the notion of business email in the cloud, we became a Certified Hosting Provider with Zimbra and partnered with Managed Service Providers looking to transition from break fix models to monthly recurring service models.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">Better Internet in Rural America</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With the success surrounding our early adoption of the Cloud in a Software as a Service model, we wanted to help deliver better internet to rural communities.  We developed the systems necessary to support user managed services for Internet Service Providers needing to offer dial-up, wireless, 3G, 4G, hybrid satellite, and captive portal integration.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2017</h4>
                                    <h4 class="subheading">Managing the Cloud</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Systems Management has become incredibly complex and we wanted to simplify the delivery of bundled services.  Using our experience and automation background to help deliver new products to our customers became our focus.  If your company wants to build a new product, provision an array of integrated services, or simplify operations efforts managing complex solutions, we can help automate your process with the push of a button!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">IoT and Crypto</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This year brought a phenomenal wave of interest around furthering development of IoT systems and tighter API integrations.  Likewise, we continue to see growing interest in Stellar based consulting and development.  Both worlds have brought interesting projects to us and we are excited to be part of the early adoption of both incredible technologies.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Lets build together</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working closely with our customers, we have discovered who we really are and what our niche in the industry is. Our team is exceptional at breaking down problems and barriers to entry and identifying solutions that have not yet been considered.  We want to work with you to deliver great products with deep impact.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
