<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We want to help augment your staff by offloading DevOps projects.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">Research and Development can be daunting tasks without an experienced team.  We manage the development process from inception to implementation.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Development</h4>
                    <p class="text-muted">Critical applications require seasoned developers with a passion for staying current on technology.  Our team is made up of self motivated individuals that enjoy taking ideas from the white board to production.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Operations</h4>
                    <p class="text-muted">Once a product is launched, today's cloud demands continuous integration and maintenance.  We develop the processes necessary to train new entry level staff to maintain your customers with the services you define.</p>
                </div>
            </div>
        </div>
    </section>
